<section class="productos">
    <article id="numero1">
        <h2>Revisa</h2>
        <h1>Nuestros Productos</h1>
        <p>Dejate envolver de nuestro servicio </p>
        <p>y la dulzura de nuestros helados</p>
        <br><br>
         <button>Inventario</button>
    </article>
    <div id="product1"> 
        <div>
            <img id="product" src="{{ imagen }}" alt="">                        
            <h1>{{ producto }}</h1>
            <h3>{{ precio }}</h3>
        </div>
        <div>
            <img id="product"  src="{{ imagen1 }}" alt="">
            <h1>{{ producto1 }}</h1>
            <h3> {{ precio1 }} </h3>
        </div>
        <div>
            <img id="product" src="{{ imagen2 }}" alt="">
            <h1>{{ producto2 }}</h1>
            <h3> {{ precio2 }} </h3>
        </div>                  
        <div>
            <img id="product" src="{{ imagen3 }}" alt="">
            <h1>{{ producto3 }}</h1>
            <h3> {{ precio3 }} </h3>
        </div>
        <div>
            <img id="product" src="{{ imagen4 }}" alt="">
            <h1>{{ producto4 }}</h1>
            <h3> {{ precio4 }} </h3>
        </div>
        <div>
            <img id="product" src="{{ imagen5 }}" alt="">
            <h1>{{ producto5 }}</h1>
            <h3> {{ precio5 }} </h3>
        </div>
        </div>
</section>